<section class="container with-title">
  <h2 class="title">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">

        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me, class: "checkbox" %>
          <span>Remember me</span>
        <% end %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn is-primary" %>
    </div>
  <% end %>
</section>

<%= render "devise/shared/links" %>
