<p id="notice" role="notice"><%= notice %></p>

<%= render partial: @post %>

<section class="container is-dark with-title">
	<h3 class="title">Actions</h3>
	<div>
		<%= link_to 'Edit', edit_post_path(@post), class: "btn is-success" %>
		<%= link_to 'Back', posts_path, class: "btn is-warning" %>
	</div>
</section>

<section class="container with-title">
	<h2 class="title">Comments</h2>
	<div id="comments">
		<%= render partial: @post.comments %>
	</div>

	<%= form_for [@post, Comment.new], remote: true do |f| %>
		<p>
			<%= f.label :body, "New Comment" %><br/>
			<%= f.text_area :body, class: "input" %>
		</p>
		<div><%= f.submit "Add Comment", class: "btn is-primary" %></div>
	<% end %>
</section>
