<a class="github-link" href="https://github.com/Rhiana/quickblog" target="_blank">
  <p class="balloon from-right">Code<br>on GitHub</p>
  <i class="octocat"></i>
</a>

<header class="main-header">
  <nav>
    <%= link_to "Home", root_path, class: "btn" %>
  <% if user_signed_in? %>
    <%= link_to "Edit profile", edit_user_registration_path, class: "btn is-success" %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn is-error"  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn is-success"  %> |
    <%= link_to "Login", new_user_session_path, class: "btn is-primary"  %>
  <% end %>
  </nav>
</header>
